form {
width:300px;
margin:auto;
}

label {
display:block;
margin-bottom:10px;
}

button {
margin-top:10px;
}

body {
font-family:Arial, sans-serif;
}

h1,h2 {
text-align:center;
}

#player-wins-losses {
width:400px;
height:300px;
margin:0 auto;
}

h1 {
height:41px;
font-family:Roboto;
font-style:normal;
font-weight:700;
font-size:40px;
line-height:47px;
text-align:center;
color:#0036F4;
}

.radio-group {
display:flex;
justify-content:center;
}

.block {
position:absolute;
width:365px;
height:529px;
left:59px;
top:52px;
background:#FFF;
box-shadow:0 9px 38px 6px rgba(0,0,0,0.04);
border-radius:30px;
}

.button-default {
position:relative;
background-color:#0322ed;
border-radius:28px;
border:1px solid #416ceb;
display:inline-block;
cursor:pointer;
color:#fff;
font-family:Arial;
font-size:17px;
text-decoration:none;
text-shadow:0 1px 0 #2c2866;
margin:20px 100px;
padding:16px 31px;
}

.button-default:hover {
background-color:#05f;
}

.button-default:active {
position:relative;
top:1px;
}

table {
border:1px solid #000;
}

td {
width:50px;
height:50px;
border:1px solid #000;
text-align:center;
font-size:24px;
}
